@import 'blocks/search-system.scss';
@import 'blocks/interviews.scss';
@import 'blocks/photography.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.show {
    display: block;
}

.unshow {
    display: none;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto
}